@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/base';
@import 'partials/layout';
@import 'partials/modules';

// a comment dfdf fdgdf

* {
  box-sizing: border-box;
}

html {
  background: $backgroundColor;
  padding: $spacing;
}
body {
  padding: $spacing;
  background: white;
}

a {
  color: $links;
  text-decoration: none;
  &:hover, &:focus {
    color: darken($links, 25%);
  }
}

.moving-box {
  background: #f06d06;
  width: 100px;
  height: 100px;
  animation: swing 3s ease alternate infinite;
}

// Example of ignoring prefixes
@keyframes swing {
  100% {
    transform: translateX(100px);
  }
}